html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
}

.controls {
  width: 20%;
  padding: 1rem;
  background: #14161a;
  color: #fff;
  overflow-y: auto;
  height: 70vh;
}

.controls input {
  border: none;
}

.map {
  width: 80%;
  height: 70%;
}

.map-container {
  width: 100%;
  height: 70vh;
}

.table-container {
  height: 30vh;
  overflow-y: auto;
  background: #20232a;
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.table-wrapper p {
  text-align: center;
  font-weight: 700;
  color: aliceblue;
}
.table-wrapper {
  justify-content: center;
  align-items: center;
}
